.navbar{
background-color: black;
    width:100%;
height: 70px;
}
.nav-item .nav-link:active{
    color: #ffffff;
    
    
}
.nav-link:visited{
    
    color: #B4AB3A; /*FFC100*/


    
}
.nav-link{
    font-family: 'Josefin Slab';
    font-size: 19px;
    letter-spacing: 1px;
    cursor: pointer;
}
.img{
    margin-top: -2px;
    position:fixed;
}
.icon{
    margin-right: -98px;
}


.nav-item .nav-link:hover{

    color: #ffffff;
}

.cart{
    margin-left: 35px;
    margin-top: -2px;
}
button:hover{
    background-color:whitesmoke;
    color: black;
    border-style: none;
}
.signin,.log{
    margin-left: 18px;
    font-size: 18px;
    font-family: 'Josefin Slab';
    background-color: #B4AB3A;
   border-radius: 8px 8px ;
    height: 40px;
    width: 80px;
}
/*.toggler{

    position: absolute;
    margin-top: 10px;
    margin-left: 120px;
}*/
.navbar-toggler-icon{
    position:absolute;
    top: 30px;
}

    
